/* begin BannerSkyscraper */
.M-B-BannerSkyscraper {
  position: relative;
  display: block;
  width: 160px;
  height: 600px;
 
     border: 1px solid lightgrey;
  overflow: hidden;
  cursor: pointer;
}

.M-B-BannerSkyscraper__bg {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 160px;
  height: 354px;
  background-position: top center;
  z-index: 0;
}

.M-B-BannerSkyscraper__bg--animate {
  animation: image-slide-up 1s ease-out;
}

@keyframes image-slide-up {
  0% {
    bottom: -354px;
  }
  100% {
    bottom: 0;
  }
}

.M-B-BannerSkyscraper__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: auto;
  z-index: 2;
}

.M-B-BannerSkyscraper__content {
  position: relative;
  z-index: 1;
  padding: 0;
  width: 160px;
  height: 600px;
}

.M-B-BannerSkyscraper__contentBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 600px;
  opacity: 0;
}

@keyframes content-block-fade-in-out {
  0%, 6% {
    opacity: 0;
  }
  7%, 45% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes content-block-fade-in-stay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.M-B-BannerSkyscraper__contentBlock--animate {
  animation: content-block-fade-in-out 7.7s forwards cubic-bezier(.38,.04,.35,.96);
}

.M-B-BannerSkyscraper__contentBlock--animateLast {
  animation: content-block-fade-in-stay .7s forwards;
}

@keyframes frame1-part-fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.frame1-text__part,
.frame2-text img,
.frame2-cta img,
.frame2-badge img {
  opacity: 0;
}

.M-B-BannerSkyscraper__contentBlock--animate .frame1-text__part--top,
.M-B-BannerSkyscraper__contentBlock--animateLast .frame1-text__part--top {
  animation: frame1-part-fade-in .35s forwards;
  animation-delay: .7s;
}

.M-B-BannerSkyscraper__contentBlock--animate .frame1-text__part--bottom,
.M-B-BannerSkyscraper__contentBlock--animateLast .frame1-text__part--bottom {
  animation: frame1-part-fade-in .35s forwards;
  animation-delay: .84s;
}

.M-B-BannerSkyscraper__contentBlock--animate .frame2-text img,
.M-B-BannerSkyscraper__contentBlock--animateLast .frame2-text img {
  animation: text-fade-in .35s forwards;
  animation-delay: .7s;
}

.M-B-BannerSkyscraper__contentBlock--animate .frame2-cta img,
.M-B-BannerSkyscraper__contentBlock--animateLast .frame2-cta img {
  animation: text-fade-in .35s forwards;
  animation-delay: .98s;
}

.M-B-BannerSkyscraper__contentBlock--animate .frame2-badge img,
.M-B-BannerSkyscraper__contentBlock--animateLast .frame2-badge img {
  animation: text-fade-in .35s forwards;
  animation-delay: .84s;
}

/* Frame 1 text area */
.frame1-text {
  position: absolute;
  top: 89px;
  left: 18px;
  right: 0px;
  z-index: 1;
}

.frame1-text img {
  width: 96px;
  height: auto;
}

.frame1-text__part {
  position: relative;
  overflow: hidden;
}

.frame1-text__part--top {
  height: 49px;
}

.frame1-text__part--bottom {
  height: 105px;

}

.frame1-text__part--bottom img {
  transform: translateY(-49px);
}

/* Frame 2 text area */
.frame2-text {
  position: absolute;
  top: 88px;
  left: 18px;
  right: 8px;
  z-index: 1;
}

.frame2-text img.text2-img {
  width: 129px;
  height: auto;
}

.frame2-cta {
  position: absolute;
  top: 187px;
  left: 18px;
  z-index: 1;
}

.frame2-cta img {
  height: 36px;
  width: 100px;
}

.frame2-badge {
  position: absolute;
  top: 485px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.frame2-badge img {
  width: 90px;
  height: auto;
}

/* end BannerSkyscraper */
