/* begin BannerLeaderBoard 468x60 */
.M-B-BannerLeaderBoard {
  position: relative;
  display: block;
  width: 468px;
  height: 60px;
 
     border: 1px solid lightgrey;
  overflow: hidden;
  cursor: pointer;
  background: #ffffff;
}

.M-B-BannerLeaderBoard__logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: auto;
  z-index: 2;
}

.M-B-BannerLeaderBoard__content {
  position: relative;
  z-index: 1;
  padding: 0;
  width: 468px;
  height: 60px;
}

.M-B-BannerLeaderBoard__contentBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 468px;
  height: 60px;
  opacity: 0;
}

@keyframes content-block-fade-in-out {
  0%, 6% {
    opacity: 0;
  }
  7%, 45% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes content-block-fade-in-stay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.M-B-BannerLeaderBoard__contentBlock--animate {
  animation: content-block-fade-in-out 7.7s forwards cubic-bezier(.38,.04,.35,.96);
}

.M-B-BannerLeaderBoard__contentBlock--animateLast {
  animation: content-block-fade-in-stay .7s forwards;
}

@keyframes frame1-part-fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.frame1-text__part,
.frame2-text img,
.frame2-badge img,
.frame2-cta img {
  opacity: 0;
}

.M-B-BannerLeaderBoard__contentBlock--animate .frame1-text__part--top,
.M-B-BannerLeaderBoard__contentBlock--animateLast .frame1-text__part--top {
  animation: frame1-part-fade-in .35s forwards;
  animation-delay: .7s;
}

.M-B-BannerLeaderBoard__contentBlock--animate .frame1-text__part--bottom,
.M-B-BannerLeaderBoard__contentBlock--animateLast .frame1-text__part--bottom {
  animation: frame1-part-fade-in .35s forwards;
  animation-delay: .84s;
}

.M-B-BannerLeaderBoard__contentBlock--animate .frame2-text img,
.M-B-BannerLeaderBoard__contentBlock--animateLast .frame2-text img {
  animation: text-fade-in .35s forwards;
  animation-delay: .7s;
}

.M-B-BannerLeaderBoard__contentBlock--animate .frame2-badge img,
.M-B-BannerLeaderBoard__contentBlock--animateLast .frame2-badge img {
  animation: text-fade-in .35s forwards;
  animation-delay: .84s;
}

.M-B-BannerLeaderBoard__contentBlock--animate .frame2-cta img,
.M-B-BannerLeaderBoard__contentBlock--animateLast .frame2-cta img {
  animation: text-fade-in .35s forwards;
  animation-delay: .98s;
}

/* Frame 1 text area - centered after logo */
.frame1-text {
  position: absolute;
  top: 12px;
  left: 124px;
  z-index: 1;
}

.frame1-text img {
  height: 38px;
  width: auto;
}

.frame1-text__part {
  position: relative;
  overflow: hidden;
}

.frame1-text__part--top {
  height: 20px;
}

.frame1-text__part--bottom {
  height: 22px;
  margin-top: -2px;
}

.frame1-text__part--bottom img {
  transform: translateY(-18px);
}

/* Frame 2 text area */
.frame2-text {
      position: absolute;
    top: 13px;
    left: 124px;
    z-index: 1;
    width: 120px;
}

.frame2-text img.text2-img {
  height: 43px;
  width: auto;
}

.frame2-badge {
     position: absolute;
    top: 2px;
    left: 262px;
    z-index: 2;
}

.frame2-badge img {
  width: 56px;
  height: auto;
}

.frame2-cta {
     position: absolute;
    top: 19px;
    left: 385px;
    z-index: 1;
    width: 60px;
}

.frame2-cta img {
  height: 27px;
  width: auto;
}

/* end BannerLeaderBoard 468x60 */
